#lobby-screen {
    position: fixed;
    
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;

    background: url("../assets/intro/mafiaLobbyBackground.jpg") no-repeat;
    background-position: center center;
    background-size: cover;

    display: none;
}

#lobby-screen > .lobby-header {
    width: 100%;
    height: 55px;

    /* padding: 0 10px; */

    background: rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(0.25turn, rgba(0,0,0,0), gray, rgba(0,0,0,0));
    border-image-slice: 1;

    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
}

#lobby-screen > .lobby-header > button {
    width: 100px;
    height: 100%;

    color: rgba(255, 255, 255, 0.75);
    font-size: 16px;
    font-family: 'SpoqaHanSansNeo-Bold';

    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,178,0,0.0) 60%,rgba(255,255,255,0.1) 100%);

    cursor: pointer;
}

#lobby-screen > .lobby-header > button:hover {
    color: white;
}

#lobby-screen > .lobby-header > button.exit {
    border: none;
    border-bottom: 1px solid transparent;
    background: transparent;
}

#lobby-screen > .lobby-header > button.exit:hover {
    border-bottom: 1px solid rgba(255, 0, 0, 0.6);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,178,0,0.0) 60%,rgba(255, 0, 0, 0.1) 100%);
}

#lobby-screen > .lobby-header > button.active {
    border: none;
    border-bottom: 1px solid rgba(255, 187, 0, 0.6);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,178,0,0.0) 60%,rgba(255,178,0,0.1) 100%);
}

#lobby-screen > .lobby-content {
    position: relative;

    width: 100%;
    height: calc(100% - 55px);

    box-sizing: border-box;
    padding: 60px;
}

#lobby-screen > .lobby-content > .players-text {
    position: absolute;

    font-size: 30px;
    font-family: 'SpoqaHanSansNeo-Bold';

    color: rgba(255, 255, 255, 0.4);

    top: 18px;
}

#lobby-screen > .lobby-content > .lobby-players {
    position: relative;
    
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.6);

    box-sizing: border-box;
    padding: 10px;

    overflow: auto;
}

#lobby-screen > .lobby-content > .lobby-players > .player-box {
    position: relative;

    width: 230px;
    height: 120px;

    background: rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.4);

    padding: 8px;
    box-sizing: border-box;

    border-radius: 5px;

    float: left;
    
    margin-bottom: 8px;
    margin-right: 8px;
}

#lobby-screen > .lobby-content > .lobby-players > .player-box > .player-name {
    width: 100%;
    height: 20px;

    color: white;

    font-size: 15px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}

#lobby-screen > .lobby-content > .lobby-players > .player-box > .player-avater {
    max-width: 145px;
    height: calc(100% - 25px);
    /* object-fit: contain; */
}

#lobby-screen > .lobby-content > .lobby-players > .player-box > .player-status {
    position: absolute;
    
    top: 5px;
    right: 8px;

    color: rgb(85, 85, 85);

    font-size: 18px;
    font-family: 'SpoqaHanSansNeo-Bold';
}

#lobby-screen > .lobby-content > .lobby-players > .player-box > .player-status.active {
    color: green;
}

#lobby-screen > .lobby-chat {
    position: absolute;

    width: 350px;
    height: max-content;

    right: 10px;
    bottom: 10px;
}

#lobby-screen > .lobby-chat > .lobby-chat-input {
    width: 100%;
    margin-top: 8px;

    box-sizing: border-box;

    color: white;
    outline: none;

    background: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.1);

    padding: 1px 3px;
}

#lobby-screen > .lobby-chat > .lobby-chat-content {
    width: 100%;
    height: 150px;

    background: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.1);

    padding: 5px;
    box-sizing: border-box;

    overflow: auto;
}

#lobby-screen > .lobby-chat > .lobby-chat-content > div {
    color: white;
    font-size: 13px;

    word-break: break-all;
}

#lobby-screen > .lobby-chat > .lobby-chat-content > div > span {
    color: gray;
    font-family: 'SpoqaHanSansNeo-Bold';
}

#lobby-screen > .lobby-ready-screen {
    position: absolute;
    
    width: 100%;
    height: 100%;

    top: 0;
    left: 0;

    background: rgba(20, 20, 20, 0.5);

    backdrop-filter: blur(3px);

    display: none;
}

#lobby-screen > .lobby-ready-screen > span {
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%,-50%) scale(1.5);

    color: white;
    font-family: 'SpoqaHanSansNeo-Bold';
    font-size: 3vw;

    opacity: 0;

    transition: transform 250ms, opacity 250ms;
}

#lobby-screen > .lobby-ready-screen > span.count {
    font-size: 15vw;

    transform: translate(-50%,-50%);
    color: rgba(255, 217, 0, 0.1);
}